{% if app.user %}
  {% if app.user.shouldPasswordChange(password_policy.require_change.remind) %}
    {% set password_reset_date = app.user.passwordChanged|date_modify(password_policy.require_change.latest~'days') %}
    <div class="alert alert-warning text-center">
      <h2>Passwort ändern</h2>
      Sie haben ihr Passwort seit dem <strong>{{ app.user.passwordChanged.format('d.m.Y') }}</strong> nicht geändert.<br />
      Bitte ändern Sie <strong>jetzt</strong> Ihr Passwort! Es {{ (password_reset_date < date('now')) ? 'wurde' : 'wird' }} am <strong>{{ password_reset_date|date('d.m.Y') }}</strong> zurückgesetzt.<br />
      <br />
      <a class="alert-link" href="{{ link }}" title="Passwort ändern">Passwort jetzt ändern</a>
    </div>
  {% endif %}
{% endif %}
